{% extends "layout.jinja" %} {% block content %} 

<p>Welcome to NFL picks! Your objective is to try and predict which team will win a game for each week in a given season. 
The family member with the most amount of wins at the end of football season will win!</p>

{% endblock content %}