{% extends "layout.html" %} {% block content %}
<h1>Picks Page</h1>
<form method="POST" action="">
    {% for match in matches %}
    <div>
        <h4> Game {{ loop.index }}</h4>
        <input type="radio" name="matchid_{{ match.match_id }}" value="{{ match.team1_id }}"> {{ match.team1_name }}
        <input type="radio" name="matchid_{{ match.match_id }}" value="{{ match.team2_id }}"> {{ match.team2_name }}
        <br>
    </div>

    {% endfor %}
    <input type="submit">
</form>
{% endblock content %}